openapi: 3.2.0
info:
  title: Totalis RFQ Portfolio API
  version: 2.1.0
  description: Public REST surface for the Totalis parlay RFQ platform — a decentralized request-for-quote marketplace for parlay bets across Kalshi and Polymarket, with on-chain Solana vault settlement.
servers:
- url: https://api.totalis.trade
  description: Production
security:
- ApiKey: []
tags:
- name: Portfolio
paths:
  /v1/pnl:
    get:
      operationId: getPnlV1
      tags:
      - Portfolio
      summary: P&L timeseries
      description: Realized P&L per day over the requested window (`1D` / `1W` / `1M` / `ALL`; default `1W`). Stats totals (wins / losses / realized P&L) are on `GET /v1/portfolio`.
      security:
      - PrivyJWT: []
      - ApiKey: []
      parameters:
      - name: period
        in: query
        schema:
          type: string
          enum:
          - 1D
          - 1W
          - 1M
          - ALL
          default: 1W
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      points:
                        type: array
                        items:
                          $ref: '#/components/schemas/PnlPoint'
components:
  schemas:
    PnlPoint:
      type: object
      properties:
        date:
          type: string
          format: date
        pnl:
          type: number
  securitySchemes:
    PrivyJWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Privy JWT issued to the web dashboard. Sent as `Authorization: Bearer <jwt>`. The Privy session signer underpins all wallet-signed actions.'
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'Programmatic API key. Sent as `X-API-Key: <key>`. Generate one from the Totalis dashboard. The same header is accepted on the WebSocket auth message.'
